{% extends 'base.html' %}

{% block content %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>P-rates</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row text-center" id="header">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row text-center welcome-type headline">
            <h2 style="margin-left: 40%; margin-top: 1em;" class="welcome-text" id="intro">Identify the master of master...</h2>
          </div>        
          <div class="row">
            <ul class="proj-btns" style="margin-left: 30%; margin-top: 1em;">
              <li><a><button class="btn btn-default">Projects</button></a></li>
              <li><a><button class="btn btn-default">Add Project</button></a></li>
            </ul>
          </div>        
        </div>        
        <div class="col-md-3"></div>
      </div>
      <div class="row">

      </div>
    </div>
  </body>
  </html>

{% endblock %}