body{
  background-image: url('../images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
}
#signup,#in,#home{
  text-decoration: none;
  color: aliceblue;
}
form input{
  color: aliceblue !important;
}
.navbar{
  font-family: 'Fredoka One', cursive;  
}
.page-footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
#header{
  height:550px;
  background-image: url('../images/win.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.md-form{
  display: inline-block;
}
.auth,.new-add{
  margin-top: 3%;
}
.proj-btns li{
  display: inline-block;
}
.welcome-text{
  opacity: 0;
}
.headline{
  margin: 20px;
  color: white;
  font-size: 32px;
  text-align: center;
  h2{
    letter-spacing: 1.6px;
    font-weight: 300;
  }
}