body{
  background-image: url('../images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5em;
}
#signup,#in,#home,#out{
  text-decoration: none;
  color: aliceblue;
}
form input{
  color: aliceblue !important;
}
.navbar{
  font-family: 'Fredoka One', cursive;  
}
.page-footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  
}
#header{
  height:550px;
  background-image: url('../images/win.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.md-form{
  display: inline-block;
}
.auth,.new-add,.user-profile{
  margin-top: 3%;
}
.new-add{
  color: white;
}
.proj-btns li{
  display: inline-block;
}
.welcome-text{
  opacity: 0;
  font-size: 1.5em;
}
.headline{
  margin: 20px;
  color: black;
  font-size: 1.5em;
  text-align: center;
}
#intro{  
  letter-spacing: 2px;
  font-weight: bold;  
}
#p-image{
  background-image: url('../images/default-avatar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid cyan;
  height: 350px;
  width: 350px;
}
#p-icon,#f-search{
  background-color: aliceblue;
  background-blend-mode:lighten;
}
#details{
  background-color: rgb(224,255,255);
  color: black;
  box-shadow: 2px 3px 3px cyan;
  padding: 2%;

}
